.DS_Store
**/build
**/src/test/java/exploration
spring-social-core/src/test/java/exploration

/bin
**/*.swp
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# GENERATED
generated/

#Eclipse
.settings/
.project/
.classpath/
**/.classpath
**/.project
**/.settings
**/bin

#MAVEN
target/

#LOGS
*.log

#JAVA
*.class
*.jar
*.war
*.ear

#GRADLE
.gradle
/local.properties
build/
out/

#IDEA
.idea/
*.iml
*.ipr
*.iws
